{{>header}}
<div class="dresses">
   <h2 class="h2"><b>Dresses<b></h2>
</div>

<div class="div-father">
  {{#each dresses}}
  <div class="div-child1">
<div class="div-child10">
   <a href={{getLink id}}>
<img src= {{img}} class="imge">
        </img>
        <!-- <h6 class="parg">color:{{color}}</h6><br>
        <h6 class="parg">Size:{{size}}</h6>
        <p class="parg">color:{{color}}</p>
        <p class="parg">Address:{{Address}}</p>
        <p class="parg">Address:{{Mobile}}</p> -->
</div>
      </div>
{{/each}}

<!---------------------------------------------------------------------->
  <!-- {{#each dresses}} -->
  <!-- <div class="div-child2">
<p >{{category}}</p>
</div> -->
<!-- {{/each}} -->
</div>
