{{>header}}
<div class="member-profile">
   <div class="bio1">
      <img src="img/r.png" alt="photo" width="20px" height="30px">
      <h3  id="profileHeader"> {{user.name}} </h3>
   </div>
   <div class="bio2">
      <img src="img/message.png" alt="message"width="20px" height="30px"/>
      <h3 id="email"> {{user.email}} </h3>
      <img src="img/phone.png" alt="mobile"width="20px" height="30px"/>
      <h3  id="mobile"> {{user.mobile}} </h3>
   </div>
   <hr>
   <div class="product">
      <h3 id="yourproducts"> <b>Your Products</b></h3>
      <a class="addForm" href="/add">add</a>

   </div>
   {{#each dresses}}
   <div class="list">
         <img  src= {{img}} class="imge">
         <div class="details">
         <h6 >category:{{category}}</h6>
         <h6 >color:{{color}}</h6>
         <h6 > size:{{size}}</h6>
         <h6  id="price"> price: <span style="color: #ff0000">{{price}}$</span> </h6>

         <div>
   </div>
   {{/each}}
</div>
