<header class="header">
   <div class= "header-logo">
      <img id="image" src="img/Rectangle 7.1.png" alt="logo">
      <h3 id="h3"><b>HebronDress</b></h3>
      <a id="logout" href="/logouts">logout</a>
   </div>
   <div class= "nav-bar">
      <ul>
         <li><a href="#">Home</a></li>
         <li><a href="#">Dresses</a></li>
         <li><a href="#">Contact</a></li>
         <li><a href="#">MyProfile</a></li>
      </ul>
   </div>
</header>
<div class="member-profile">
   <div class="bio1">
      <img src="img/r.png" alt="photo" width="20px" height="30px">
      <h3  id="profileHeader"> {{name}} </h3>
   </div>
   <div class="bio2">
      <img src="img/message.png" alt="message"width="20px" height="30px"/>
      <h3 id="email"> {{email}} </h3>
      <img src="img/phone.png" alt="mobile"width="20px" height="30px"/>
      <h3  id="mobile"> {{mobile}} </h3>
   </div>
   <hr>
   <div class="product">
      <h3 id="yourproducts"> <b>Your Products</b></h3>
      <a class="addForm" href="/add">add</a>

   </div>
   <div class="list">
      <div class="photo1">
         <img  src= {{img}} class="imge">
         <hr>
         <h6 id="name">name:{{ name}}</h6>
         <h6 id="color">color:{{Color}}</h6>
         <h6 id="size"> size:{{Size}}</h6>
         <h6 id="price"> price:{{Price}} </h6>

      </div>
      <div class="photo2">
         <img src= {{img}} class="image">
         <hr>
         <h6 id="name">name:{{ name}}</h6>
         <h6 id="color">color:{{Color}}</h6>
         <h6 id="size"> size:{{Size}}</h6>
         <h6 id="price"> price:{{Price}} </h6>

      </div>
   </div>
</div>
